@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.footer {
    background: linear-gradient(to right,#50ABE7,#BAE0F3,#82EEFD,#EDF2FB);
    padding: 30px 0;
}
.footer-copyright {
    position: relative;
    bottom: 0;
    width: 100%; /* Add background color for better visibility */
    text-align: center; /* Align text to center */
    padding: 10px; 
    font-weight: 700px;

  }
.container{
    padding:30px;
}

.footer h5{
  font-family: "Fredoka", sans-serif;
  font-weight: 500px;
  font-style: normal;
}

