.hover-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #ffcccc 0%, #ff99cc 100%);
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}

.card-title {
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
}
